extends ../landing

block content
    .container
        .row.justify-content-center
            .col-3
            .col-6(style="text-align: center")
                h1=event.name
            .col-3
                if user && user._id.toString() == event.author.id.toString()
                    .my-2
                        a.btn.btn-xs.btn-warning(href="/events/"+event._id+"/edit") Edit
                        form(action="/events/"+event._id+"?_method=DELETE" method="post" style="display: inline")
                            button(type="submit").btn.btn-xs.btn-danger Delete
        .row.justify-content-center
            div(style="background-color: #F7F7F7").card
                .card-body
                    .row.justify-content-center
                        img(src=event.image alt="Not Found" style="width: 60%").card-img-top
                    .row.my-3.justify-content-center
                        p=event.description
                    .row.my-3.justify-content-center
                        em
                            p Submitted by #{event.author.username}
                    .row
                        a.btn.btn-xs.btn-success(href="/events/"+ event._id+ "/comments/new") Post a comment

                    each comment in event.comments
                        .row
                            div.card(style="width: 100%; background-color: #DEDEDE")
                                .card-body
                                    .row.justify-content-end
                                        .col-10
                                            p.mb-0 
                                                strong #{comment.author.username}
                                            p.my-0 #{comment.text}
                                        .col-2
                                                - var commentEditRoute = "/events/"+ event._id+ "/comments/" + comment._id + "/edit"
                                                - var commentDeleteRoute = "/events/"+ event._id+ "/comments/" + comment._id + "?_method=DELETE"
                                                if user && user._id.toString() == comment.author.id.toString()
                                                    form(method='get' action=commentEditRoute style="display: inline-block").ml-5
                                                        button
                                                            img(src="https://image.flaticon.com/icons/svg/1159/1159633.svg" width="20")
                                                    form(method='post' action=commentDeleteRoute style="display: inline-block").ml-2
                                                        button
                                                            img(src="https://image.flaticon.com/icons/svg/1214/1214428.svg" width="20")
                                            
