extends ../landing

block content
    h1=event.name
    img(src=event.image alt="Not Found")
    p=event.description
    a.btn.btn-success(href="/events/"+ event._id+ "/comments/new") Post a comment
    each comment in event.comments
        p 
            strong #{comment.author} -
            | #{comment.text}
